
<head>
  <title>Github</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>

</header>
<!-- GITBOT IMG -->
<div class="google">
  <a href="#" id="google_logo"><img src="https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" alt="Image of BOT"/></a>
</div>
<br>
<!-- FORM SEARCH -->
<div class="form">
  <form>

    <input id="text"  [(ngModel)]="text" [ngModelOptions]="{standalone: true}" placeholder="Type in the command for the Gitbot">
  </form>
</div>
<br>
<!-- BUTTONS -->
<div class ="mainButton">
<button class="buttons" (click) = "userData()">Submit</button>
</div>

</body>
<!--<router-outlet></router-outlet>-->

